.display-wrapper {
    height: var(--display-height);
    min-height: 80vh;
    position: relative;
}

.map-image-wrapper {
    height: var(--display-height);
    width: calc(100vw - 65px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}